@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset rules and default styles applied to plain HTML elements */
@layer base {
  /* Root element */
  html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
  }
  /* Multiple elements */
  dl, ul {
    @apply block list-none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
  }
  data, output {
    @apply slashed-zero tabular-nums;
  }
  h1, h2, h3, h4, p, pre {
    @apply m-0 min-h-[14px];
  }
  /* Single elements */
  dd {
    margin-inline: 0;
  }
  dl {
    @apply min-h-[12px] md:min-h-[18px];
  }
  header {
    margin-block: 0;
  }
  img {
    @apply motion-safe:duration-300 motion-safe:ease-out select-none shadow-none;
  }
  label {
    @apply max-w-[100px] relative md:max-w-[140px];
  }
  pre {
    @apply font-mono;
  }
  svg {
    @apply block align-middle;
    shape-rendering: auto;
    text-rendering: optimizeLegibility;
  }
  /* Hierarchical elements */
  article header {
    @apply items-center;
  }
  button a[rel="noopener noreferrer"], p a[rel="noopener noreferrer"] {
    @apply after:content-['_↗'];
  }
}

/* Class-based styles for components */
@layer components {
  .button-base {
    @apply cursor-pointer disabled:cursor-not-allowed inline-flex min-h-touch min-w-touch items-center justify-center rounded motion-safe:transition-colors;
    @apply -outline-offset-8 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-white;
  }
  .button {
    @apply border-0 button-base font-sans touchable active:shadow-none;
  }
  .container {
    @apply min-w-0;
    margin-inline: auto;
  }
  .homepage-section {
    @apply relative select-none w-full;
  }
  .icon-button {
    @apply button-base opacity-90 p-2 hover:opacity-100 touchable;
  }
  .card {
    @apply backdrop-blur backdrop-filter backdrop-saturate-200 flex flex-col rounded-2xl shadow;
  }
}

/* Small, single-purpose classes that take precedence over other styles */
@layer utilities {
  .bg-duvida {
    @apply from-lavender-70 to-grape-40;
  }
  .absolute-center {
    @apply absolute left-1/2 -translate-x-1/2;
  }
  .fixed-top-container {
    @apply flex fixed w-full left-0 top-0 right-0;
  }
  .min-h-touch {
    @apply min-h-[48px];
  }
  .min-w-touch {
    @apply min-w-[48px];
  }
  .touchable {
    @apply min-h-touch min-w-touch select-none
  }
}

